/* 
  Color definitions based on the "Catppuccin Latte" palette:
  https://github.com/catppuccin/catppuccin
*/
@define-color accent_bg_color   #1e66f5;  /* button, main accent */
@define-color accent_bg_color2  #7287fd;  /* secondary accent / hover */
@define-color theme_fg_color    #4c4f69;  /* primary text color */
@define-color subtle_fg_color   #6c6f85;  /* subtle / disabled text color */
@define-color error_bg_color    #d20f39;  /* error background tone */
@define-color error_fg_color    #eff1f5;  /* text on top of error background */

/* ============================================================================== */
