/* 
  Color definitions based on the "Everforest" palette:
  https://github.com/sainnhe/everforest
*/
@define-color accent_bg_color   #a7c080;  /* button, main accent */
@define-color accent_bg_color2  #d3c6aa;  /* secondary accent / hover */
@define-color theme_fg_color    #d3c6aa;  /* primary text color */
@define-color subtle_fg_color   #9da9a0;  /* subtle / disabled text color */
@define-color error_bg_color    #e67e80;  /* error background tone */
@define-color error_fg_color    #2b3339;  /* text on top of error background */

/* ============================================================================== */
    