/* 
  Color definitions based on the "Nord" palette:
  https://www.nordtheme.com/docs/colors-and-palettes
*/
@define-color accent_bg_color   #88c0d0;  /* button, main accent */
@define-color accent_bg_color2  #81a1c1;  /* secondary accent / hover */
@define-color theme_fg_color    #e5e9f0;  /* primary text color */
@define-color subtle_fg_color   #d8dee9;  /* subtle / disabled text color */
@define-color error_bg_color    #bf616a;  /* error background tone */
@define-color error_fg_color    #2e3440;  /* text on top of error background */

/* ============================================================================== */
