/* 
  Color definitions based on the "OneDark" theme by Atom:
  https://github.com/atom/one-dark-syntax
*/
@define-color accent_bg_color   #61afef;  /* button, main accent */
@define-color accent_bg_color2  #56b6c2;  /* secondary accent / hover */
@define-color theme_fg_color    #abb2bf;  /* primary text color */
@define-color subtle_fg_color   #828997;  /* subtle / disabled text color */
@define-color error_bg_color    #e06c75;  /* error background tone */
@define-color error_fg_color    #282c34;  /* text on top of error background */

/* ============================================================================== */
