/* 
  Color definitions based on the "Palenight" Material theme:
  https://www.material-theme.com/docs/reference/color-palette/
*/
@define-color accent_bg_color   #82aaff;  /* button, main accent */
@define-color accent_bg_color2  #b2ccd6;  /* secondary accent / hover */
@define-color theme_fg_color    #a6accd;  /* primary text color */
@define-color subtle_fg_color   #959dcb;  /* subtle / disabled text color */
@define-color error_bg_color    #f07178;  /* error background tone */
@define-color error_fg_color    #292d3e;  /* text on top of error background */

/* ============================================================================== */
